section{
    padding: 20px;
}
.hero{
    padding:100px;
    align-self: center;
}
.HeroImage{
    align-self: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.HeroHeader{
    margin-bottom: 16px;
}
.HeroParagraph{
    margin-top: 0px;
}