/* CSS */
  
.verticalLine {
    display: inline !important;
    height: 20px !important;
    width: 0px !important;
    margin-right: 16px !important;
    margin-left: 8px !important;
    border-left: 1px #DDDDDD solid !important;
}
.filter{
  padding-top:50px;
  align-self: center;
}

.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #DDDD;
  border-radius: 30px;
  box-shadow: none;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-flex;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 0.8rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer !important;

}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #000000;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}